html {
	position: relative;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	color: black;
	padding: 7px 9px;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: border-color .1s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	border: 1px solid black;
	transition: border-color .3s;
}

.hidden {
	display: none;
}

/*
	Font Elements
*/

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height: 100%;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

/*
	Images
*/

.thumbnail {
	height: 100px;
}

.thumbnail img {
	object-fit: cover;
}

/*
	Inputs
*/



input[type="search"] {
	padding: 5px;
}

input[type="search"] {
	border: none;
	padding: 0.4rem 2rem 0.3rem 0.5rem;
	box-shadow: 0 0 3px #e9e9e9 inset;
	font-weight: 500;
	background: white;
}
