.annotation-col {
  position: relative;

  .annotation-box {
    border-left: 3px blue solid;
    margin-right: 15px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;

    .annotation-container-new{
      display: flex;
      flex-direction: column;
      align-content: center;

      header {
        margin: 0 0 0 10%;
        padding-bottom: 10px;
      }
      .annotation-form {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-around;


        .form-input {
          flex: .82;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-content: center;
          width: 100%;

          h3 {
            line-height: 1.75;
          }

          input {
            flex: .8;
            border: 1px solid $dark-gray;
            border-radius: 5px;
            padding: 3px;

            &:focus {
              border-color: black;
            }
          }

          button {
            flex: .15;
            margin: 0 10px;
            border: 1px solid $dark-gray;

            &:hover {
              border-color: black;
            }
          }
        }
      }
    }
    .annotation-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .annotation-items {

        margin: 0 5px;
        width: 100%;

        .annotation-item {
          margin-bottom: 20px;

          // border-top: 1px solid black;
          // border-bottom: 1px solid black;
          .annotation-detail {
            display: flex;
            flex-direction: column;

            .body {
              display: flex;

              .voting {
                flex: .18;
                min-width: 65px;
                max-width: 65px;
                margin: auto 0;

                .score {
                  margin: 0 5px;
                }

                button {
                  padding: 3px;
                  border: none;

                  &:hover {
                    border: none;
                    color: blue;
                    transition: color .15s;
                  }
                }
              }

              p {
                font-style: italic;
                line-height: 1.5;
                padding-right: 12.5%;
              }
            }

            .annotation-extras {
              display: flex;
              justify-content: space-between;
              margin-top: 5px;
              padding-left: 65px;


              button {
                // flex: .15;
                padding: 3px;
                margin: 5px 20px 5px 0;
                border: 1px solid $dark-gray;

                &:hover {
                  border-color: red;
                }
              }

              .annotation-author {

                &:before {
                  content: "by: ";
                }
              }
            }
          }
        }
      }
      .annotation-form {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: flex-end;

        .form-input {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-content: center;
          width: 82%;

          h3 {
            line-height: 1.75;
          }

          input {
            flex: .8;
            border: 1px solid $dark-gray;
            border-radius: 5px;
            padding: 3px;

            &:focus {
              border-color: black;
            }
          }

          button {
            flex: .15;
            margin: 0 10px;
            border: 1px solid $dark-gray;

            &:hover {
              border-color: blue;
            }
          }
        }
      }
    }
  }
}
