.auth-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  input[type="text"], input[type="password"] {
  	padding: 5px;
  	border: none;
  	border-bottom: 2px solid $dark-gray;
  	border-radius: 3px;
  	box-sizing: border-box;
  	height: 25px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px;

    input {
      margin: 5px;

      &[type="text"]:focus {
        border-bottom: 2px solid black;
        transition: border-bottom .5s;
      }

      &[type="password"]:focus {
        border-bottom: 2px solid black;
        transition: border-bottom .5s;
      }
    }

    button {
      border: 1px solid $dark-gray;
      margin: 10px 0;

      &:hover {
        border: 1px solid black;
        transition: border .5s;
      }
    }
  }

  span {
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
