nav {
  text-transform: uppercase;
}

.nav-major {
  background-color: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  height: 41px;
  width: 100%;
  font-size: 14px;

  .search {
    margin: 0.3rem;
  }

  .logo {
    cursor: pointer;

    .logo-link{
      width: 300px;
      text-align: center;
      font-weight: bolder;
      text-shadow: -3px 2px black;
      color: #FFFF64;
      font-size: 25px;
      letter-spacing: 6px;
    }
  }



  .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: .33;
    height: 100%;
    max-width: 200px;
    min-width: 150px;

    img {
      object-fit: contain;
      height: 50%;
      width: 41px;
      margin-right: 5px;
    }

    .auth-button {
      margin: auto 0px;
    }
  }

  .logged-in {
    justify-content: flex-end;
    margin-right: 10px;
  }
}

.nav-minor {
  display: flex;
  background: black;
  color: white;
  height: 39px;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  section {
    padding: 0 8px;
    transition: opacity .2s;
  }

  span {
    cursor: pointer;

    i {
      color: $gray;
      margin-right: 4px;
    }
  }

  .me-links {
    * {
      margin: 0 4px;
      &:hover {
        opacity: .8;
      }
    }
  }

  .inside-link {
    border-right: 1px solid white;
    &:hover {
      opacity: .8;
    }
  }
}
