.search {
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 300px;
  border: none;

  .search-results{
    z-index: 9;
    display: flex;
    flex-direction: column;
    background: $light-gray;

    .header {
      font-weight: bolder;
      margin: 1px 5px;
    }

    .single-result{
      background: white;
      margin: 1px 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &:hover{
        background: $yellow;
      }

      .thumbnail{
        width: 40px;
        min-width: 40px;
        height: 40px;
        object-fit: cover;
        margin: 3px 5px;
      }

      .result-detail{
        display: flex;
        flex-direction: column;

        .result-title {
          font-weight: bold;
        }

        .result-artist {
          margin: 5px 5px 2px 5px;
          display: flex;
          align-items: center;
          font-size: 13.5px;

          &:before {
            content: "by: ";
            text-transform: lowercase;
            margin: 0 5px 0 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
