.search {
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 300px;

  ::-webkit-scrollbar {
  width: 12px;
  }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  };

  .search-results{
    z-index: 9;
    display: flex;
    flex-direction: column;
    background: $light-gray;
    overflow-y: auto;
    max-height: 70vh;



    .header {
      font-weight: bolder;
      margin: 1px 5px;
    }

    .single-result{
      background: white;
      margin: 1px 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      min-height: 60px;
      height: auto;
      max-height: 70px;

      &:hover{
        background: $yellow;
      }

      .thumbnail{
        width: 50px;
        min-width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 3px 5px;
      }

      .result-detail{
        display: flex;
        flex-direction: column;

        .result-title {
          font-weight: bold;
        }

        .result-artist {
          margin: 5px 5px 2px 5px;
          display: flex;
          align-items: center;
          font-size: 13.5px;

          &:before {
            content: "by: ";
            text-transform: lowercase;
            margin: 0 5px 0 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
