.track-index{

  margin: 10px 0;
  h3, h5 {
    font-size: 1rem;
    font-weight: 400;
  }

  .track-index-item{
    border-bottom: 1px solid $light-gray;

    &:hover {
      background: $lightest-gray;
    }

    &:first-child {
      border-top: 2px solid black;
    }



    &:nth-child(-n+3) {
      .track-num {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          border-radius: 50%;
          border: .2em solid #000;
          width: 2em;
          min-width: 2em;
          height: 2em;
          text-align: center;
          line-height: 1.5
        }
      }

      figure {
        height: 80px;
        width: 80px;
        object-fit: cover;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &:not(:nth-child(-n+3)) {
      figure {
        height: 56px;
        width: 56px;
      }
      h3, h5 {
        display: inline;
      }
      h5:before {
        content: " by "
      }
    }

    .track-row{
      margin: 0 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: $sans-serif;
      font-weight: bold;

      .track-num {
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
      }

      figure {
        margin: 5px;
        border: 1px solid black;
        margin-right: 8px;
      }



    }

  }
  .loader {
    margin: auto;
    margin-top: 40px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $yellow; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
}
